h1{
    color: palevioletred;
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
    width: 50%;
}
h2{
    color: palevioletred;
    text-align: center;
}
table{
    text-align: center;
    border: 5px solid violet;
}
td{
    border: 2px solid blueviolet;
}
th{
    border: 3px solid paleturquoise;
}